* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.root {
  background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-8));
  overflow: auto;
  display: flex;
  justify-content: center ;
  width: 100%;
}


  .content {
    padding-top: calc(var(--mantine-spacing-md) * 3);
    border: 0.5px solid var(--mantine-color-default-border);
      @media (max-width: $mantine-breakpoint-sm) {
        flex-direction: column;
        align-items: center;
        margin-right: 0;
    
      } 
    
      @media (max-width: $mantine-breakpoint-xs) {
        padding-bottom: calc(var(--mantine-spacing-sm) * 1);
        border: none;
        margin-inline: calc(var(--mantine-spacing-sm) * 1);
      }
  } 

