.root {
  background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-8));
  overflow: auto;
  display: flex;
  justify-content: center ;
}

.header {
  background-color: transparent;
}

  .content {
      display: flex;
      padding-bottom: calc(var(--mantine-spacing-lg) * 5);
      @media (max-width: $mantine-breakpoint-sm) {
        flex-direction: column;
        align-items: center;
        margin-right: 0;
        padding-top: calc(var(--mantine-spacing-md) * 1);
      } 
    
      @media (max-width: $mantine-breakpoint-xs) {
        padding-left: 0;
        padding-bottom: calc(var(--mantine-spacing-sm) * 1);
        padding-top: calc(var(--mantine-spacing-md) * 1);
        margin-inline: calc(var(--mantine-spacing-sm) * 1);
      }
  } 

    


  .navbar{
    background-color: transparent;
    border-right: none;
    padding-left: calc(var(--mantine-spacing-xl) * 2);
  }