.image {
    border-radius: calc(var(--mantine-radius-sm) * 1);
    box-shadow: var(--mantine-shadow-sm);
    border: rem(1px) solid light-dark(var(--mantine-color-blue-9), var(--mantine-color-blue-3));
    max-width: 170px;
    @media (max-width: $mantine-breakpoint-xs) {
      padding: rem(2px);
      border-radius: calc(var(--mantine-radius-md) * 2);
    }
  } 
  
  .stackOne {
    min-width: 100px;
  }

  .stackTwo {

  }


  .text {

    display: flex;
  }
