.mainContainer{
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  margin-top: rem(150px);
  width: 70vw;
  margin-bottom: rem(10px);
  @media (max-width: $mantine-breakpoint-md) {
    justify-content: center;
    width: 100%;
    align-items: center;
    flex-direction: column;
    margin-top: rem(50px);
  }
}

.mainInfo { 
  width: 90%;
  height: 100%;
  display: flex;
  margin-left: rem(50px);
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  @media (max-width: $mantine-breakpoint-md) {
    margin-top: rem(40px);
    margin-left: 0;
    justify-content: flex-start;
    align-items: center;
  }
  @media (max-width: $mantine-breakpoint-sm) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.inner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-width: rem(300px);
  @media (max-width: $mantine-breakpoint-sm) {
    align-items: center;
    width: 100%;  
    min-width: none;
    padding: 0;
  }
}

.wrapper {  
  display: flex;
  width: auto;
  max-height: rem(300px);
  border-radius: var(--mantine-radius-md);
  @media (max-width: $mantine-breakpoint-sm) {
    margin-left: 50px;  
    max-width: rem(300px);
  }
}


.image {
  width: rem(100px);
  height: auto;
  border-radius: calc(var(--mantine-radius-sm) * 4);
  box-shadow: var(--mantine-shadow-sm);
  border: rem(1px) solid light-dark(var(--mantine-color-orange-4), var(--mantine-color-blue-3));
  @media (max-width: $mantine-breakpoint-xs) {
    padding: rem(2px);
    border-radius: calc(var(--mantine-radius-md) * 2);
    margin-left: 0;
  }
} 

.content {
  display: flex;
  width: 105%;
  flex-direction: column;
  @media (max-width: $mantine-breakpoint-sm) {
    align-items: center;
    justify-content: center;
     padding:0;
     width: 100%;
     margin: 0;
  }
}


.name {
  color: light-dark(var(--mantine-color-blue-6), var(--mantine-color-orange-2));
  margin-top: rem(10px);
  font-size: 2.5rem;
  @media (max-width: $mantine-breakpoint-sm) {
    font-size:  2rem;
    margin:0;
  }
}

.name:hover {
  text-decoration: underline light-dark(var(--mantine-color-dark-8), var(--mantine-color-orange-2));
  cursor: crosshair;
  text-underline-offset: 20px;
}


.title {
  font-size: 2rem;
  font-weight: 400;
  position: relative;

  @media (max-width: $mantine-breakpoint-sm) {
    font-size: 1.5rem;
    margin:0;
  }

}


.goal {
  color: light-dark(var(--mantine-color-blue-7), var(--mantine-color-orange-2));
  font-size: rem(20px);
}

.banner {
  color: light-dark(var(--mantine-color-black), var(--mantine-color-orange-2));
  align-items: center;
  font-size: rem(20px);
  margin-top:4px;

}

.locHistory {
  display: flex;  
  align-items: center;
  justify-content: space-between;
}

.listItem{ 
  font-size: rem(14px)
}


.icon {
  color: light-dark(var(--mantine-color-black), var(--mantine-color-orange-2));
}

.control {
  &:hover {
    box-shadow: var(--mantine-shadow-xl);
    text-decoration: underline; 
    text-underline-offset: 2px;
  }
}
