.mainContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: rem(35px);
  margin-bottom: rem(10px);
  @media(max-width: $mantine-breakpoint-xs){
    scale: 0.95;
    margin-top: rem(40px);
  }

}

.mainInfo{ 
  min-width: rem(300px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: var(--mantine-spacing-lg);
  @media (max-width: $mantine-breakpoint-sm) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.inner {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: rem(300px);
  @media (max-width: $mantine-breakpoint-sm) {
    flex-direction: column;
    align-items: center;
  }
}



.wrapper {
  max-width: rem(300px);
  max-height: rem(390px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--mantine-spacing-xs) var(--mantine-spacing-xs) 0 var(--mantine-spacing-xs);
  border-radius: var(--mantine-radius-md);
  margin-bottom: var(--mantine-spacing-lg);
  border: rem(1px) solid light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-8));
  box-shadow: var(--mantine-shadow-sm);
  @media (max-width: $mantine-breakpoint-sm) {
    margin: 0 0 rem(20px) 0;
    max-width: rem(300px);
  }
}

.content {
  display: flex;
  flex-direction: column;
  padding: 0 var(--mantine-spacing-md) calc(var(--mantine-spacing-md) * 3) var(--mantine-spacing-md);
  @media (max-width: $mantine-breakpoint-sm) {
    align-items: center;
    flex-direction: column;
    justify-content: center;
     padding:0;
  }
}

.title {
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
  font-size: 2rem;
  &:hover {
    text-decoration: underline;
    text-underline-offset: 9px;
    cursor: crosshair;
  }

  @media (max-width: $mantine-breakpoint-sm) {
    font-size: rem(30px);
  }
  @media (max-width: $mantine-breakpoint-xs) {
    font-size: rem(30px);
  }
}

.goal {
  color: light-dark(var(--mantine-color-blue-7), var(--mantine-color-orange-2));
  font-family: Greycliff CF, var(--mantine-font-family);
  font-size: rem(20px);

}




.image {
  width: 70%;
  border-radius: calc(var(--mantine-radius-sm) * 4);
  box-shadow: var(--mantine-shadow-sm);
  border: rem(1px) solid light-dark(var(--mantine-color-blue-9), var(--mantine-color-blue-3));
  @media (max-width: $mantine-breakpoint-xs) {
    padding: rem(2px);
    border-radius: calc(var(--mantine-radius-md) * 2);
  }
} 



.banner {
  color: light-dark(var(--mantine-color-black), var(--mantine-color-orange-2));
  align-items: center;
  font-size: rem(20px);
  font-family: Greycliff CF, var(--mantine-font-family);
}

.locHistory {
  display: flex;  
  align-items: center;
  justify-content: space-between;
  font-family: Greycliff CF, var(--mantine-font-family);

}

.listItem{ 
  font-size: rem(14px)
}


.icon {
  color: light-dark(var(--mantine-color-black), var(--mantine-color-orange-2));

}

.control {
  &:hover {
    box-shadow: var(--mantine-shadow-xl);
    text-decoration: underline; 
    text-underline-offset: 2px;
  }
}

/* .initial {
  font-size: 10rem;
  @media (max-width: $mantine-breakpoint-xs) {
    font-size: 1.5rem;
  }
} */