.inner {
  display: flex;
  justify-content: center;
  align-content: center;
  padding-top: calc(var(--mantine-spacing-xl) * 4);
  padding-bottom: calc(var(--mantine-spacing-xl) * 4);
  padding-left: calc(var(--mantine-spacing-md) * 4);

  @media (max-width: $mantine-breakpoint-sm) {
    flex-direction: column;
    align-items: center;
    padding-top: calc(var(--mantine-spacing-lg) * 4);
    padding-left: calc(var(--mantine-spacing-md) * 4);
    padding-bottom: calc(var(--mantine-spacing-sm) * 1);
  }

  @media (max-width: $mantine-breakpoint-xs) {
    padding-top: 0;
    padding-left: 0;
    padding-bottom: calc(var(--mantine-spacing-sm) * 1);
  }
}

.wrapper {
  max-width: rem(450px);
  max-height: rem(500px);
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: light-dark(var(--mantine-color-white), var(--mantine-color-dark-8));
  border-radius: var(--mantine-radius-md);
  padding: rem(7px);
  border: rem(1px) solid light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-8));
  box-shadow: var(--mantine-shadow-xl);
  @media (max-width: $mantine-breakpoint-sm) {
    margin: 0 0 rem(20px) 0;
  }
}

.content {
  max-width: rem(450px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: calc(var(--mantine-spacing-sm) * 2);

  @media (max-width: $mantine-breakpoint-xs) {
    max-width: 100%;
    margin-right: 0;
    margin-left: 0;
    padding: 0;
  }
}

.contacts {
  box-sizing: border-box;
  position: relative;
  border-radius: var(--mantine-radius-md);
  border: rem(1px) solid transparent;
  padding: var(--mantine-spacing-xs);

  @media (max-width: $mantine-breakpoint-sm) {
    margin-bottom: var(--mantine-spacing-xs);
    padding-left: var(--mantine-spacing-md);
  }
}

.title {
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
  font-family: Greycliff CF, var(--mantine-font-family);
  font-size: rem(28px);
  line-height: 1.2;
  font-weight: 600;

  @media (max-width: $mantine-breakpoint-xs) {
    font-size: rem(20px);
  }
}

.goal {
  color: light-dark(var(--mantine-color-blue-9), var(--mantine-color-orange-6));
}

.control {
  @media (max-width: $mantine-breakpoint-xs) {
    flex: 1;
  }
}

.image {
  min-width: 100%;
  max-height: rem(356px);
  object-fit: cover;
  @media (max-width: $mantine-breakpoint-xs) {
    padding: rem(10px);
    border-radius: calc(var(--mantine-radius-md) * 2);
  }
}

.highlight {
  position: relative;
  font-size: rem(36px);
  background-color: var(--mantine-color-blue-light);
  border-radius: var(--mantine-radius-md);
  padding: rem(2px) rem(12px);
}
