

.mainWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: calc(var(--mantine-spacing-lg) * 3);
  padding-right: calc(var(--mantine-spacing-lg) * 3);
  padding-top: calc(var(--mantine-spacing-lg) * 1);
  padding-bottom: calc(var(--mantine-spacing-lg) * 1);
  margin-bottom: calc(var(--mantine-spacing-lg) * 1);
  @media(max-width: $mantine-breakpoint-xs){
    padding-top: 0;
    padding-inline: 0;
  }
}

.timeLine {
  margin-top: var(--mantine-spacing-sm);
  @media (max-width: $mantine-breakpoint-xs) {
    margin-top:0;
  }
}


.list {
  font-size: 14px;
  font-weight: 400;
  margin-right: var(--mantine-spacing-md);
  @media (max-width: $mantine-breakpoint-xs) {
  font-size: rem(15px);
  font-weight: 400;
  }

}
.locHistory {
  display: flex;
  justify-content: space-between;
  color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-dark-1));
  font-size: rem(14px);
  font-style: italic;
  margin-bottom: calc(var(--mantine-spacing-xs) * 1);

  @media (max-width: $mantine-breakpoint-xs) {
    font-size: rem(12px);
  }
}

/* light-dark(var(--mantine-color-white), var(--mantine-color-dark-8)) */

