.wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: calc(var(--mantine-spacing-lg) * 4);
  padding-left: calc(var(--mantine-spacing-sm) * 5);

  @media (max-width: $mantine-breakpoint-sm) {
    min-width: rem(300px);
    padding-bottom: calc(var(--mantine-spacing-xl) * 2);
    margin-right: calc(var(--mantine-spacing-sm) * 3);
    flex-direction: column;
    align-items: center;
    padding-top: calc(var(--mantine-spacing-xl) * 3);
    padding-bottom: calc(var(--mantine-spacing-xl) * 2);
  }

  @media (max-width: $mantine-breakpoint-xs) {
    padding-left: 0;
    margin-right: 0;
    margin-left: 0;
    padding: 0;
  }
}

.jobTitle {
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
  font-family: Greycliff CF, var(--mantine-font-family);
  font-size: rem(24px);

  @media (max-width: $mantine-breakpoint-xs) {
    font-size: rem(18px);
  }
}

.rootList {
}
.locHistory {
  display: flex;
  justify-content: space-between;
  color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-dark-1));
  font-family: Greycliff CF, var(--mantine-font-family);
  font-size: rem(14px);
  font-style: italic;
  margin-bottom: calc(var(--mantine-spacing-xs) * 1);

  @media (max-width: $mantine-breakpoint-xs) {
    font-size: rem(12px);
  }
}

/* light-dark(var(--mantine-color-white), var(--mantine-color-dark-8)) */
