.mainWrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-inline: calc(var(--mantine-spacing-lg) * 3);
    @media(max-width: $mantine-breakpoint-xs){
   padding: calc(var(--mantine-spacing-lg) * 1);
    }
  }


.techComps {
    border-radius: var(--mantine-radius-md);
    width: 100%;
    margin-top: var(--mantine-spacing-xl);
    background-color: light-dark(var(--mantine-color-gray-1), var(--mantine-color-body));
    box-shadow: var(--mantine-shadow-sm);
    padding: var(--mantine-spacing-xl);
    @media (max-width: $mantine-breakpoint-xs) {
        padding: var(--mantine-spacing-xl);
    }
}

