.inner {
  padding: var(--mantine-spacing-xs);
  display: flex;
  justify-content: space-between;
  align-content: center;
  color: var(--mantine-color-blue-5);
}

.navIcon {
  margin-top: 5px;
  font-size: 10px;
}
 
.link {
display: flex;
justify-content: center;  
  padding: rem(7px);
  border-radius: var(--mantine-radius-sm);
  color:  var(--mantine-color-blue-5);
  text-decoration: none;
  font-size: var(--mantine-font-size-sm);
  border-radius: var(--mantine-radius-xl);

} 


.name {
  color: light-dark(var(--mantine-color-black), var(--mantine-color-orange-2));
}


