.icon {
    width: rem(20);
    height: rem(20);
    border-radius: 10px;
  }

  .icon:hover {
    transform: scale(1.3);
    transition: 0.3s;
  }
  
  .dark {
    @mixin light {
      display: none;
    }
  }
  
  .light {
    @mixin dark {
      display: none;
    }
  }