.icon {
    width: rem(20);
    height: rem(20);
    border-radius: 10px;

  }
  
  
  .dark {
    @mixin light {
      display: none;
    }

  }
  
  .light {

    @mixin dark {
      display: none;
    }
  }